<!DOCTYPE html>
<html>
<head>
    <title>Bird Sound Recommender</title>
</head>
<body>

<h1>Bird Sound Recommender</h1>

<div id="sound-player">

    <audio
            id="sound"
            controls
            src="<%= sound.url %>"
    ></audio>

    <button id="like">Like</button>

</div>

<script>

    // Like handler
    // document.getElementById('like').addEventListener('click', () => {
    //     // POST to likes route
    //     fetch('/like', {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/json'
    //         },
    //         body: JSON.stringify({
    //             id: <%= sound._id %>
    // })
    // })
    // });

</script>

</body>
</html>